/* General */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('./images/bg3.jpg') center/cover no-repeat;
}

.container {
    text-align: center;
    margin: 250px auto;
    width: 500px;
}

/* Heading */

#h1 {
    font-size: 2.2em;
}

/* Quotes */

.textArea {
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 50px;
    background-color: #fff;
    padding: 5px 10px;
}

/* Button */

#newQuoteBtn {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
}

/* Mobile */

@media (max-width: 432px) {

    body {
        background: none;
        background-color:turquoise;
    }
}